@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", system-ui;
}

.primary-text {
  color: #eb0029;
}
.primary-bg {
  background-color: #eb0029;
  transition: all 0.2s ease-in-out;
}
.primary-bg:hover {
  background-color: #dd1335;
}
.secondary-bg {
  background-color: #FF8F00;
  color: #ffff;
  transition: all 0.2s ease-in-out;
}
.secondary-bg:hover {
  background-color: #da8312;
}

/* Light Mode */
[data-theme="light"] {
  --text-color: #333;
  --food-card-bg-color: #F5F5F5; 
}

/* Dark Mode */
[data-theme="halloween"] {
  --text-color: #f5f5f5;
  --food-card-bg-color: #2E2E2E; 
}

h2, h3, h5 {
  color: var(--text-color);
}

.food-card {
  background-color: var(--food-card-bg-color);
}